html, body {
    scroll-behavior: smooth;
    color: #444444;
    font-size: .9em;
}

h3, h4 {
    font-weight: bold;
    text-align: center;
}

h3 {
    background: url(../images/title_tip1.png) 20% center / contain no-repeat,
    url(../images/title_tip2.png) 80% center / contain no-repeat;
}

h4 {
    background: url(../images/title_tip1-1.png) 15% center / contain no-repeat,
    url(../images/title_tip2-1.png) 85% center / contain no-repeat;
}

a, a:hover {
    color: #604100;
    text-decoration: none;
}

.more, .more:hover {
    color: #ede788;
}

.contain {
    margin-bottom: 20vh;
}

.header {
    background:#fff;

}

.header .navbar-toggler {
    color: transparent;
    border: 0;
}

.header .navbar-nav .nav-link.active, 
.header .navbar-nav .show>.nav-link,
.header .navbar-nav .nav-link:focus, 
.header .navbar-nav .nav-link:hover {
    color: #b37e26;
    font-weight: bold;
}

.nav-link {
    color: #B4812D;
}

.nav-link:focus, .nav-link:hover {
    color: #ddc193;
}

.nav-pills .nav-link.active {
    background-color: #CBAA8A;
}

.top {
    font-size: .8em;
}

.product {
    background: url(../images/pr_bg.png) left top / 20vw no-repeat,
    url(../images/pr_bg_02.png) right bottom / 12vw no-repeat, 
    linear-gradient(to left, #624100 30%, #a18333 60%, #624100 100%) center center / 100% 100%;
    
}

.text-yellow, .text-yellow:hover {
    color: #ede788;
}

.text-brown, .text-brown:hover {
    color: #604100;
}

.text-light-brown, .text-light-brown:hover {
    color: #b37e26;
}

.text-red {
    color:#8e3000;
}

.info {
    background: url(../images/back01.png) left top / 20vw no-repeat,
    url(../images/back02.png) right bottom / 20vw no-repeat; 
}

.news {
    background: url(../images/pr_bg.png) left top / 20vw no-repeat,
    url(../images/pr_bg_02.png) right bottom / 12vw no-repeat; 
}

.news-item {
    border-top: 3px solid #b37e26;
}

.list {
    border-bottom: 1px solid #b37e26;
    font-weight: bold;
}

.tag {
    background: #b37e26;
    color: white;
    font-size: .5em;
    width: 10em;
    text-align: center;
}

.more {
    text-align: right;
}

.footer {
    background: #fff6d4;
    color: #604100;
}